.header__logo {
    margin-bottom: 41px;
    background-image: url('../../../images/Vector.svg');
    background-repeat: no-repeat;
    width: 142px;
    height: 33px;
}

@media screen and (max-width: 767px) {
    .header__logo {
        margin-left: 27px;
    }
}