.profile__button_add {
    width: 150px;
    height: 50px;
    border-radius: 5px;
    font-size: 22px;
    margin: auto 0 auto auto;
    background-image: url('../../../../images/AddButtonImg.svg');
    background-repeat: no-repeat;
    background-size: 22px 22px;
    background-position: center;
    border-width: 2px;
}


@media screen and (max-width: 767px) { 
    .profile__button_add {
        width: 100%;
    }
}