.edit-form__header {
    margin: 34px 64px auto 36px;
    color: black;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
}

@media screen and (max-width: 767px) {
    .edit-form__header {
        margin: 25px auto 75px 22px;
        font-size: 18px;
        line-height: 22px;
    }
}
