.card-item__union {
    margin: auto 0 auto auto;
    background-image: url('../../../images/union.svg');
    background-size: 22px 19px;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 22px;
    height: 19px;
    cursor: pointer;
    border: navajowhite;
    background-color: white;
}

.card-item__union:hover {
    opacity: 0.6;
}