.profile {
    display: flex;
    max-width: 880px;
    height: 120px;
    margin: 40px auto 51px auto;
}

@media screen and (max-width: 767px) {
    .profile {
        max-width: 282px;
        height: 286px;
        flex-direction: column;
    }   
}