.edit-form__button_save {
    margin: 48px 36px 37px 36px;
    border-radius: 2px;
    color: white;
    background-color: black;
    max-width: 358px;
    height: 50px;
}

.edit-form__button_save:hover {
    opacity: 0.8;
}

@media screen and (max-width: 767px) {
    .edit-form__button_save {
        max-width: 238px;
        width: 100%;
        margin: 45px auto 25px auto;
    }
}