.edit-form__button_save {
    margin: 48px 36px 37px 36px;
    border-radius: 2px;
    color: white;
    background-color: black;
    width: 358px;
    height: 50px;
}

.edit-form__button_save:hover {
    opacity: 0.8;
}