.edit-form__button_type_save:hover {
    opacity: 0.8;
}

@media screen and (max-width: 767px) {
    .edit-form__button_type_save {
        max-width: 238px;
        width: 100%;
        margin: 45px auto 25px auto;
    }
}